*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gruppo contenitori */
header{
    width: 100%;
    /* height: 100px; */
    background-color: #06b167;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    font-family: "Gochi Hand", serif;
    padding-top: 2%;
}
.contenitore-generale {
    display: flex;
    /* justify-content: space-between;  */
    width: 100%;
    margin-top: 3%;
}

.contenitore-numeri{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #06b167;
    margin-left: 8% ;
    width: 60%;
    /* DEBUG */
    /* border: 1px solid red;
    height: 200px; */
}

.contenitore-estrazione{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 0;
    /* DEBUG */
    /* border: 1px solid red; */
    /* height: 200px; */
}



/* layout di pagina */
main{
    font-family: "Gochi Hand", serif;
    /* display: flex;
    align-items: center; */
}

body{
    background-color: #06b167;
}

.row{
    display: flex;            
    justify-content: center; 
    /* display: inline-block;
    width: 100%; */
    /* DEBUG */
    /* border: 1px solid red; */
}

.cerchio {
    width: 60px;           
    height: 60px;          
    background-color: #fff;
    color: black;  
    border-radius: 50%;     
    display: flex;          
    align-items: center;    
    justify-content: center;
    font-size: 32px;
    margin-top: 2%;
    margin-right: 2%;
    border: 4px solid #e67e22; 
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.5), 
        inset 0 4px 6px rgba(0, 0, 0, 0.3); 
    transform: translateZ(0); 
    /* transition: all 0.2s ease; */
}
.cerchio:active {
    box-shadow: 
      0 4px 6px rgba(0, 0, 0, 0.2), /* Ombra esterna ridotta */
      inset 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombra interna più intensa */
    transform: translateY(4px); /* Simula l'effetto di "pressione" */
  }

div{
    font-size: 30px
}
.quadrato{
    width: 100px;           
    height: 100px;
    background-color: #fff;
    color: black;      
    display: block;          
    align-items: center;    
    justify-content: center; 
    font-size: 32px;
    margin-top: 2%;
    margin-right: 2%;
    border-bottom: 1px solid white;
    
}
.linea-nera {
    border: 0;                   /* Rimuove il bordo predefinito */
    border-top: 2px solid black; /* Imposta una linea nera sopra */
    margin: 20px 0;              /* Aggiunge spazio sopra e sotto la linea */
}
hr{
    width: 60%;
    margin-top: 2%;
    color: #fff;
}

.button{
    width: 80px;
    height: 40px;
    color: black;      
    display: block;          
    align-items: center;    
    justify-content: center; 
    /* font-size: 10px; */
    margin-top: 2%;
    margin-right: 2%;
    border: 1px solid rgb(2, 0, 0);
    background-color: #f9b508;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.big{
    width: 130px;
    height: 40px;
}